@import "~@evive/ui-kit/src/statics/styles/main";

.home{
  &__container{
    background-color: $background-surface-default;
  }

  &__navigation-pannel{
    margin-top: 10rem;
  }

  &__header{

    &-container{
      margin-top: 2rem;
      display: flex;
    }

    &-details{
      display: flex;
      flex-direction: column;
      flex: 1;
      padding-right: 42rem;
      // max-width: 42rem;
    }

    &-body{
      margin-top: 1rem;
    }
  }

  &__dependent-details{

    // border: 2px solid red;
    &-container{
      margin-top: 1rem;
    }

    &__header{
      margin-top: 2rem;
    }

    &__radio-btn-group{
      margin-top: 1rem;

    }
    &__radio-btn-description {
        display: flex;
        flex-direction: column;
      }

    &__submit-btn{
      padding: 0 8rem;
      margin-left: 70rem;
      margin-top: 7rem;
    }

  }


}